<div mat-dialog-title style="text-align: center">
  <h2 mat-dialog-title class="mr-2">
    <h4 class="modal-title pull-left" >Thông tin đăng kí khám</h4>
  </h2>
</div>
<mat-dialog-content class="flex-row flex-auto w-full" style="overflow-x: hidden;">
  <form [formGroup]="formDkKham" class="example-form">
    <div>
      <div >
        <mat-form-field  class="example-full-width">
          <mat-label> Họ tên<sup style="color: red;"> *</sup></mat-label>
          <input matInput type="text" formControlName="HO_TEN" />
          <mat-error> Vui lòng nhập thông tin</mat-error>
        </mat-form-field>
      </div>
        <mat-form-field  class="example-full-width">
          <mat-label> Giới tính</mat-label>
          <mat-select matInput type="text" formControlName="GIOI_TINH">
            <mat-option *ngFor="let item of gioiTinh" [value]="item.value">{{item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label> Ngày sinh</mat-label>
        <input matInput type="date" formControlName="NGAY_SINH"
              >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label>Email<sup style="color: red;"> *</sup></mat-label>
        <input matInput type="text" formControlName="Email" />
        <mat-error> Vui lòng nhập thông tin</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label>Số điện thoại<sup style="color: red;"> *</sup></mat-label>
        <input matInput type="text" formControlName="SDT" />
        <mat-error> Vui lòng nhập thông tin</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label> Ngày hẹn</mat-label>
        <input matInput type="date" formControlName="NGAY_HEN">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label> Giờ hẹn</mat-label>
        <input matInput type="time" formControlName="GIO_HEN">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label> Ngày tạo</mat-label>
        <input matInput type="date" formControlName="NGAY_TAO">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="example-full-width">
        <mat-label> Ngày tiếp nhận</mat-label>
        <input matInput type="date" formControlName="NGAY_TN">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="flex flex-row justify-end">
  <button mat-raised-button color="primary" class="margin-r10 button-defaul" (click)="doSave(1)" *ngIf="!id_custemer">
    <i class="fa fa-save">&nbsp;</i>
     Lưu
  </button>
  <button mat-raised-button color="primary" class="margin-r10 button-defaul" (click)="doSave(2)" *ngIf="id_custemer">
    <i class="fa fa-save">&nbsp;</i>
    Cập nhật
  </button>
  <button mat-raised-button style="background-color: red" matDialogClose>
    <i class="fa fa-times">&nbsp;&nbsp;</i>Đóng
  </button>
</mat-dialog-actions>
