.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 4rem;
  margin-bottom: 20px;
  color: black; /* Màu chữ đen hoặc màu xám đậm */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Hiệu ứng bóng đổ cho chữ trên nền trắng */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.guest-button,
.member-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.guest-button:hover,
.member-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
